<li>
  <div class="row">
    <div class="col-md-2">
      <% @user = User.find(course.user_id) %>
      <%= render @user %>
    </div>
    <div class="col-md-6 course">
      <div class="grey-box">
        <h2>
          <%= link_to course.name, course %>
        </h2>
        <p>
          <strong>Category:</strong>
          <%= course.categories.map { |c| link_to(c.name, c) }.join(', ').html_safe %>
        </p>
        <p>
          <strong>Location: </strong>
          <%= course.locations.map { |l| link_to(l.location, l) }.join(', ').html_safe %>
        </p>
        <p>
          <strong>Created: </strong>
          <%= time_ago_in_words(course.created_at) %> ago.
        </p>
        <ul class="stats">
          <% if logged_in? %>
          `<li>
              <%= render partial: 'dislike', locals: {course: course} %>
            </li>
            <li>
              <%= render partial: 'like', locals: {course: course} %>
            </li>
          <% else %>
            <li><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> <%= course.likers.count %></li>
            <li><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> <%= course.dislikers.count %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <%= image_tag course.picture.url if course.picture? %>
    </div>
  </div>
  <hr />
</li>